<div class="e-footer-content">
	<SfButton Content="@Save" IconCss="saveButton" IconPosition="IconPosition.Left" IsPrimary="true" type="submit" />
	<SfButton Content="@Cancel" IconCss="closeButton" IconPosition="IconPosition.Left" OnClick="@CancelMethod" type="button" />
</div>